/vendor
/node_modules
Homestead.yaml
Homestead.json
.idea/
.idea/workspace.xml
.env
1.sh
1.sh~
2.sh
2.sh~
3.sh
3.sh~
_ide_helper.php
/public/test.txt
/public/wego/store
/public/wego/staff
/public/wego/buyer
public/exist-crawl
public/notexist-crawl
public/healthyexist-crawl
public/healthynotexist-crawl
/public/productInsert.txt
/public/storeSignup.txt
/public/BigImages
/public/exist-crawl/
/public/*.xls
/public/wego
public/crawled
public/pics
public/final-digikala
public/categorySitemap-0.xml
public/productSitemap-0.xml
public/sitemap.xml
public/staticSitemap.xml
/1.sh
copy.xls
2.sh
/html
.vscode
worker.log*
